.name,.name22,.name23,.name234{
background-image: url('./trees.jpg');
background-position: center;
background-repeat: no-repeat;
height: 600px;
width: 100%;
background-attachment: fixed;
}
.name22{
    background-image: url('./5.jpg');
    width: 100%;
}
.name23{
    background-image: url('./3.jpg');
    width:100%;
    height: 600px;
    opacity: 1.0;
}
.name234{
    margin-top: 2em;
}
.span1,#section1{
    text-align: center;
    text-decoration: underline;
    text-shadow:2px 2px 8px aqua;
    font-size: 300%;
} 
#div3para{
    font-style: italic;
    font-family: 'Lucida Sans';
    color: black;
    background-color: white;
    font-size: x-large;
    text-align: center;
}
#d3{
    padding-top:60px;
    text-align-last: center;
    text-justify: kashida;
    text-align: end;
}
#bottom{
    font-size: 20px;
    text-shadow: 2px 2px pink;
    text-align: right;
    margin-right:2em ;
    margin-right:2em ;
}
